@* Інжекція до представлення - можлива але у край небажана,
    за різновидом - це інжекція до властивості (Property)
*@
@inject AspKnP231.Services.Hash.IHashService hashService
@inject AspKnP231.Services.Scoped.ScopedService scopedService

@{
    ViewData["Title"] = "IoC";
}

<div class="text-center">
    <h1 class="display-4">
        <i class="bi bi-box-arrow-in-down-right display-5"></i>
        Робота з залежностями: IoC, DI, DIP
    </h1>
</div>

<p>
    <strong>IoC</strong> (Inversion of Control) - Інверсія управління.
    Архітектурний принцип згідно з яким управління життєвим циклом об'єктів-сервісів
    перекладається на спеціальний модуль: контейнер залежностей (інжектор).
    Можна порівняти з "глобальними ресурсами", до яких можливий доступ з різних
    частин проєкту. Відмінність полягає у тому, що життєвий цикл - це не лише
    створення, а й модифікація чи видалення (перестворення). Також на інжектор
    покладається задача вирішення залежностей для випадків, коли одні сервіси
    залежать від інши сервісів (резолюція графу залежностей).
</p>
<p>
    <strong>DI</strong> (Dependency Injection) - Інжекція залежностей.
    Архітектурний патерн декларації (організації) взаємодії з сервісами.
    Ідея: замість звернення до контейнера на пряму <code>Container.GetService("Hash")</code>
    вживається декларативна форма оголошення об'єктів з залежністю від даних, що
    мають бути передані "ззовні"
    <code>class Sign(HashService hash){...}</code>. Створення об'єктів-сервісів покладається
    на контейнер, до задач якого також додається задача резолюції інших об'єктів:
    <code><s>sign = new Sign(?)</s></code> &rarr; <code>sign = Container.Resolve(Sign)</code>
</p>
<p>
    <strong>DIP</strong> (Dependency Inversion Principle, soliD) - Принцип інверсії залежностей.
    Не рекомендується створювати залежності від реалізацій (класів),
    рекомендується - від абстракцій (інтерфейсів). Причому абстракція має бути максимальною
    з доцільних.
    <code><s>class Service(AsusMouse mouse)</s></code> &rarr;
    <code><u>class Service(ComputerMouse mouse)</u></code> &rarr;
    <code><b>class Service(IProduct product)</b></code> <br />
    Навпаки, якщо сервіс існує у вигляді об'єкту, то рекомендується створити під
    нього інтерфейс і впроваджувати залежності через нього.
</p>
<p>
    Підсумки:
</p>
<ul>
    <li>У корені проєкта створюємо директорію <code>Services</code></li>
    <li>Під кожен сервіс створюємо окрему директорію (в середини <code>Services</code>)</li>
    <li>У директорії сервісу створюємо інтерфейс та принаймні один клас-реалізацію</li>
    <li>Реєструємо співставлення інтерфейсу та класу-сервісу у контейнері (<code>Program.cs</code>)</li>
    <li>* Традицією є використання класів-розширень, що приховують деталі співставлення</li>
    <li>Інжектуємо сервіс у декларативний спосіб - див. конструктор HomeController</li>
</ul>
@ViewData["hash"]
<p>
    Моделюємо задачу: перейти на новий тип хешу
</p>
<ul>
    <li>В середини <code>Services/Has</code> додаємо новий клас <code>ShaHashService</code></li>
    <li>
        Змінюємо співставлення інтерфейсу та класу в розширенні
        (або Program.cs якщо розширення не вводилось)
    </li>
</ul>

<h2>Життєві цикли сервісів</h2>
<p>
    Оновіть сторінку для контролю змін
</p>
<table class="table">
    <tbody>
        <tr><td></td><td>Middleware</td><td>Controller</td><td>Razor</td></tr>
        <tr>
            <td>Singleton</td>
            <td>@Context.Items["FromDemoMiddleware"]</td>
            <td>@ViewData["hashCode"]</td>
            <td>@hashService.GetHashCode()</td>
        </tr>
        <tr>
            <td>Scoped</td>
            <td>@Context.Items["MiddlewareScopedHash"]</td>
            <td>@ViewData["ControllerScopedHash"]</td>
            <td>@scopedService.GetHashCode()</td>
        </tr>
        <tr><td>Transient</td><td></td><td></td><td></td></tr>
    </tbody>
</table>
@* Д.З. Реалізувати дослідження часу оброблення запиту:
    - створити Middleware, у якому внести до контексту мітку часу (Ticks)
    - створити метод контролера (Action), у якому також внести до контексту
        мітку часу (під іншим іменем)
    - у представленні (View) також запитати мітку часу.
    вивести дані в одній таблиці, додати різницеві величини для кращого сприйняття
       Middleware      Controller                 View
    |348522936754982|348522936755982 (+1000мкс)| ...
*@